/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f8f9fa;
  }
  
  /* Header Styling */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #150624;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  .resume-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .resume-btn:hover {
    color: #4CAF50;
  }
  
  .resume-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .resume-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    position: relative;
    border-radius: 10px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .logo-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%; /* optional for circular logo */
  }
  
  /* Logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Navbar */
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #00aaff;
  }
  
  /* Mobile Menu */
  .menu-icon {
    display: none;
    font-size: 26px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .nav-links-mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%;
      text-align: center;
    }
  
    .nav-links-mobile li {
      margin: 15px 0;
    }
  
    .menu-icon {
      display: block;
    }
  }
  